@font-face {
    font-family: Futura;
    src: url('/assets/fonts/Futura-Medium.ttf') format('truetype');
}
  
@font-face {
    font-family: FuturaICGDemi;
    src: url('/assets/fonts/Futura-ICG-Demi.ttf') format('truetype');
}
  
@font-face {
    font-family: AndaleMono;
    src: url('/assets/fonts/AndaleMono.ttf') format('truetype');
}

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

html, body, #root, .app {
    display: flex;
    width: 100%;
    min-height: 100%;
}

.filelist {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.filelist li {
    cursor: default;
    border: solid 1px transparent;
    width: 100%;
    height: 20px;
}

.filelist li:hover {
    background-color: rgba(0, 0, 0, 0.05);
    border: solid 1px rgba(0, 0, 0, 0.1);
}

.filelist li a {
    text-decoration: none;
    outline: none;
    color: inherit;
    width: 100%;
    height: 100%;
    display: flex;
}

.icon {
    height: 100%;    
}